:root{
    --accent-color:#09A66D;
    --background-color:#fff;
    --secondary-background-color:#F3FBF8;
    --text-color:#222222;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

p{
    margin: 0;
}

body{
    padding: 10px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--text-color);
}
body{
    width: 1440px;
    margin: 0 auto;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
}
/* _________________________________________HEADER_____________________________________________ */

.header {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}
.header__inner {
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 150px;
}
.menu__list {
    display: flex;

}
.menu__list-item {
    margin-right: 40px;
    font-size: 18px;
    line-height: 24px;
}
.heder__right{
    display: flex;
    align-items: center;
}
.header__search {
    margin-right: 20px;
}
.header__btn {
    margin-left: 32px;
    width: 160px;
    height: 40px;
    background-color: var(--accent-color);
    border: none;
    border-radius: 8px;
    color: var(--background-color);
    font-size: 18px;
    line-height: 20px;
}

/* ______________________________________FRUITS__________________________________________ */




.fruits {
    background-color: var(--secondary-background-color);
    height: 850px;
}

.fruits__container {
    position: relative;

    
}
.fruits__inner {
    background-color: var(--secondary-background-color);
    background-image: url(../images/vegetables.svg),url(../images/falling-grass.svg);
    background-repeat: no-repeat;
    background-position: 0px 400px , -140px -20px ;
    background-size: 882px 485px, 612px 408px;
    background-blend-mode: darken;
    width: 100%;
    margin-bottom: 150px;
}
.fruits__top {

    display: flex;
    flex-direction: column;
}
.fruits__top-header {
    font-family: 'Rosario';
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
    text-align: center;
    margin-top: 92px;
    margin-bottom: 20px;
}
.fruits__top-text {
    max-width: 637px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 40px;
}
.fruits__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 176px;
}

.fruits__link-text{
    font-weight: 500;
    padding-right: 20px;
}

.fruits__aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    
}
.fruit__aside-item {
    background-color: var(--background-color);
    width: 250px;
    height: 116px;
    display: flex;
    margin-bottom: 30px;
}

.fruit__aside-img{
    margin: 30px;
}

.fruit__aside-number {
    padding-top: 17px;
    font-size: 48px;
    line-height: 48px;
}
.fruit__aside-text {
    text-align: center;
    padding-top: 4px;
    padding-bottom: 17px;
}


/* _______________________________Service___________________________________ */

.service {
    background-image: url(../images/decore.svg);
    background-repeat: no-repeat;
    background-size: 944px 531px;
    background-position: 515px -30px;
    margin-top: 150px;
}
.service__heading {
    font-family: 'Rosario';
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
    padding-bottom: 20px;
}
.service__text {
    max-width: 637px;
    padding-bottom: 56px;
}
.service__middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.service__list {
    display: flex;
    flex-direction: column;
}
.service__item {
    display: flex;
    flex-direction: row;
    align-items: center;
   width: 500px;
    height: 160px;
}
.service__item-logo {
    padding-right: 40px;
    padding-left: 60px;
}
.service__item-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 277px;
    font-size: 14px;
    line-height: 20px;
}
.service__item-header {
    display: block;
}
.service__item-desc {
    display: block;
}
.service__item--two{
    background-color: var(--secondary-background-color);
}
.service__arrow {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.service__logo{
   width: 600px;
   transform: translateY(-35px);
}


/* ___________________________________Special____________________________________ */

.special {
    margin-top: 145px;
    background-color: var(--secondary-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.special__inner {
    display: flex;

}

.special__container{
    width: 1240px;
    background-image: url(../images/falling-grass.png);
    background-repeat: no-repeat;
    background-position: 800px 400px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               


}
.special__img {
    max-width: 600px;
    margin-top: 80px;
    padding-right: 50px;
    margin-bottom: 150px;
}
.special__side {
    max-width: 556px;
}
.special__heading {
    margin-top: 120px;
    font-family: 'Rosario';
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
    width: 556px;
}
.special__text {
    width: 574px;
}
.special__link {
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.special__link-text {
    padding-right: 20px;
}


/* ___________________________________customers____________________________________________________ */
